* {
    font-size: 1vw;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --white: white;
    --primary: #2373c9;
    --secondary: #29a442;
    --third: #676767;
    --fourth: #f9f9fb;
    --black: black;
}

/* header main */
.header-main {
    justify-items: center;
    align-content: center;
}

.header-content {
    display: flex;
    padding-top: 1vw;
    padding-bottom: 1vw;
    justify-content: space-between;
    width: 98%;
}

.header-content h1 {
    padding-top: 0.5vw;
    font-size: 1.3vw;
}

.header-content select {
    color: var(--third);
    padding-right: 0.5vw;
    border-style: none;
}

.header-content a:first-child {
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
}

.header-content a {
    padding-right: 0.5vw;
    color: var(--third);
    text-decoration: none;
}

.header-content option {
    border-style: none;
}

.login-btn {
    border: 0.1vw solid var(--black);
    background-color: transparent;
    padding: 0.3vw 0.3vw;
}

.signup-btn {
    border-style: none;
    color: var(--white);
    padding: 0.4vw 0.4vw;
    background-color: var(--secondary);
}

/* hero main */
.hero-main {
    height: 40vw;
    background-position: center;
    background-size: cover;
    background-image: url(images/header.jpeg);
    justify-items: center;
    align-content: center;
}

.hero-form {
    align-content: center;
    border-radius: 0.2vw;
    justify-items: center;
    color: var(--black);
    background-color: var(--white);
}

.hero-content {
    justify-content: space-evenly;
    color: var(--white);
    display: flex;
    width: 70%;
}

.hero-headings {
    padding-top: 4vw;
    width: 30vw;
}

.hero-headings h1 {
    line-height: 2.5vw;
    margin-bottom: 1vw;
    font-size: 2vw;
}

.hero-headings p {
    line-height: 1.5vw;
}

.form-content {
    margin-top: 3vw;
    padding-bottom: 3vw;
    justify-items: center;
    height: 20vw;
    width: 38vw;
}

#input1 {
    gap: 0.5vw;
    margin-top: 2vw;
    display: flex;
}

#input1 input {
    padding-left: 1vw;
    border: 0.1vw solid rgb(183, 183, 183);
    width: 15vw;
    height: 2vw;
    background-color: var(--fourth);
}

#input2 {
    gap: 0.5vw;
    margin-top: 2vw;
    display: flex;
}

h2 {
    padding-bottom: 0.5vw;
}

#input2 input {
    padding-left: 1vw;
    border: 0.1vw solid rgb(183, 183, 183);
    width: 15vw;
    height: 2vw;
    background-color: var(--fourth);
}

#input3 {
    margin-top: 2vw;
    display: flex;
}

textarea {
    padding-top: 0.5vw;
    background-color: var(--fourth);
    padding-left: 1vw;
    display: flex;
    width: 32vw;
}

.form-content button {
    justify-content: center;
    align-items: center;
    width: 10vw;
    background-color: var(--primary);
    color: var(--white);
    border-style: none;
    margin-top: 1vw;
    display: flex;
    height: 2.5vw;
}

/* icons section */
.icons-main {
    background-color: var(--fourth);
    justify-items: center;
    align-content: center;
}

.icons-content {
    margin: 4vw;
    margin-bottom: 4vw;
    text-align: center;
    display: flex;
    gap: 2vw;
    width: 70%;
}

.icons {
    justify-items: center;
}

.icons i {
    color: var(--primary);
    margin-bottom: 1vw;
    font-size: 3vw;
}

.icons h1 {
    margin-bottom: 1vw;
}

.icons p {
    width: 70%;
}

/* image section */

.image-content {
    display: flex;
    flex-direction: column;
}

.image-heading {
    padding-right: 4vw;
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.image-heading h1 {
    font-size: 1.5vw;
    padding-bottom: 1vw;
}

.image {
    height: 20vw;
    display: flex;
}

.image-heading-image {
    width: 50%;
    background-size: cover;
    height: 10vw;
}

.image-content img {
    width: 49.4vw;
    background-size: cover;
    height: 20vw;
}

/* customer section */
.customer-main {
    background-color: var(--fourth);
    justify-items: center;
    align-content: center;
}

.customer-content {
    margin-bottom: 5vw;
    margin-top: 5vw;
    justify-items: center;
    width: 70%;
}

.customer-content h1 {
    font-size: 2vw;
    margin-bottom: 0.5vw;
}

.avatar {
    height: 10vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 35vw;
    border-radius: 0.5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-image {
    gap: 3vw;
    justify-content: space-between;
    display: flex;
}

.avatar img {
    margin-left: 1vw;
    height: 6vw;
    border: 0.1vw solid black;
    border-radius: 100%;
}

.avatar span {
    color: var(--primary);
}

.avatar div {
    padding-left: 1.5vw;
}

.page-arrow {
    display: flex;
    gap: 2vw;
}

.page-arrow i {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1.5vw;
    background-color: var(--primary);
    color: var(--white);
}

.signup-main {
    text-align: center;
    color: var(--white);
    height: 15vw;
    background-image: url(images/header.jpeg);
    background-position: top;
    background-size: cover;
    justify-items: center;
    align-content: center;
}

.signup-content h1 {
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

.signup-content input {
    padding-left: 1vw;
    width: 23vw;
    height: 2vw;
}

.signup-content button {
    width: 7vw;
    color: var(--white);
    border-style: none;
    background-color: var(--primary);
    height: 2vw;
}

/* footer section */
.links {
    display: flex;
    justify-content: space-between;
}

.footer-main {
    background-color: var(--fourth);
    height: 10vw;
    justify-items: center;
    align-content: center;
}

.footer-content {
    width: 70%;
}

.links i {
    color: var(--primary);
    font-size: 2vw;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary);
}

.links span {
    font-weight: bold;
}